<launch>
    <!-- 本文件为多个无人机的仿真启动脚本 - 1 -->

    <!-- 1号无人机 -->
    <!-- 第一个节点：启动1号无人机控制节点 - rmtt_control_node_1 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_1" output="screen" >
        <param name="agent_id" type="int" value="1" />
    </node>

    <!-- 2号无人机 -->
    <!-- 第一个节点：启动2号无人机控制节点 - rmtt_control_node_2 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_2" output="screen" >
        <param name="agent_id" type="int" value="2" />
    </node>

    <!-- 3号无人机 -->
    <!-- 第一个节点：启动3号无人机控制节点 - rmtt_control_node_3 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_3" output="screen" >
        <param name="agent_id" type="int" value="3" />
    </node>

    <!-- 4号无人机 -->
    <!-- 第一个节点：启动3号无人机控制节点 - rmtt_control_node_4 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_4" output="screen" >
        <param name="agent_id" type="int" value="4" />
    </node>

    <!-- 5号无人机 -->
    <!-- 第一个节点：启动3号无人机控制节点 - rmtt_control_node_5 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_5" output="screen" >
        <param name="agent_id" type="int" value="5" />
    </node>

    <!-- 6号无人机 -->
    <!-- 第一个节点：启动3号无人机控制节点 - rmtt_control_node_6 -->
    <node pkg="sunray_swarm" type="rmtt_control_node" name="rmtt_control_node_6" output="screen" >
        <param name="agent_id" type="int" value="6" />
    </node>
</launch>

